<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}| [TID:${threadid}] | ${message}" />
    <target name="InfoFile" xsi:type="File"
            fileName="${basedir}/Log/Info_${logger}.log"
            archiveAboveSize="128000000"
            archiveFileName="${basedir}/Log/Info_${date:format=MMddHHmm}/${shortdate}.{#####}.log"
            archiveNumbering="Sequence"
            concurrentWrites="false"
            layout="[${date}] [TID:${threadid}] [${stacktrace}]: ${message}" />
    <target name="ErrorFile" xsi:type="File"
            fileName="${basedir}/Log/Error_${logger}.log"
            archiveAboveSize="128000000"
            archiveFileName="${basedir}/Log/Error_${date:format=MMddHHmm}/${shortdate}.{#####}.log"
            archiveNumbering="Sequence"
            concurrentWrites="false"
            layout="[${date}] [TID:${threadid}] [${stacktrace}]: ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="InfoFile" />
    <logger name="*" minlevel="Error" writeTo="ErrorFile" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>