<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GateWayServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ChatServer1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <GateWayServer.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>25251</value>
            </setting>
            <setting name="EngineDllName" serializeAs="String">
                <value>CGSFNet.dll</value>
            </setting>
            <setting name="ThreadCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxBufferSize" serializeAs="String">
                <value>16000</value>
            </setting>
            <setting name="MaxPacketSize" serializeAs="String">
                <value>4012</value>
            </setting>
            <setting name="MaxAcceptCount" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="GameServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="GameServerPort" serializeAs="String">
                <value>35251</value>
            </setting>
        </GateWayServer.Properties.Settings>
        <ChatServer1.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>25251</value>
            </setting>
            <setting name="EngineDllName" serializeAs="String">
                <value>CGSFNet.dll</value>
            </setting>
            <setting name="ThreadCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxBufferSize" serializeAs="String">
                <value>16000</value>
            </setting>
            <setting name="MaxPacketSize" serializeAs="String">
                <value>4012</value>
            </setting>
            <setting name="MaxLobbyCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxLobbyUserCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxAcceptCount" serializeAs="String">
                <value>3000</value>
            </setting>
        </ChatServer1.Properties.Settings>
    </userSettings>
</configuration>